
.footer{
    width: 100%;
    background-color: #304268;
}

.footer-info{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    box-sizing: border-box;
}
.menu-footer{
    margin-top: 60px;
}
.nav-menu{
    margin-bottom: 30px;
    list-style: none;
}
.social-menu{
    list-style: none;
}
.nav-menu a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.88;
}
.social-menu a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.88;
}

.btn-footer{
    background-color:white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    margin: 0 auto;
}

.btn-footer:hover{
    border: 3px solid #f26002;
}
.footer-copy{
    margin-top: 30px;
    margin-bottom: 45px;
    color: white;
    font-size: 14px;
    line-height: 30px;
}

@media (min-width:768px){

    .footer-info{
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
        text-align: left;
    }

    .menu-footer{
        display: flex;
        justify-content: center;
        padding: 0;
        margin-top: 0;
        
    }
    .footer-copy{
        padding: 0;
        margin-right: 40px;
        text-align: left;
    }

    .social-menu{
        margin-left: 200px;
    }
}

@media (min-width:1200px){

    
    .footer-info{
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        text-align: left;
    }
    .menu-footer{
        margin-left: 40px;
    }
    .social-menu{
        margin-left: 100px;
    }

    .btn-topic{
        width: 106px;
    }

}