
.hero {
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &__burger{
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 4.4rem;
        height: 4.4rem;
        background-color: #1976b7;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &:hover{
        background-color: $primary-brand-color;
    }
  }
}

.hero__content{
    padding: 1.5rem;
    text-align: center;
}
.content{
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__title{
    font-family: $heading-font;
    text-align: center;
    font-size: 4.2rem;
    font-weight: bold;
    color: $heading1-color;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: 3px;
    text-transform: uppercase;

      &::first-line{
      word-spacing: 100vw;
    }
}
    &__paragraph{
      font-size: 1.6rem;
      color: $heading1-color;
      margin-top: 1rem;}
      
    &__scroll{
      width: 4.4rem;
      height: 4.4rem;
      background-color: white;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 4.5rem;
      border-radius: 50%;
    
       &:hover{
        transition: all 0.3s ease;
        transform: scale(1.3);
      }
   }
}


@media (min-width:768px){

    .content{
        margin-top: 15rem;
    }
    
    .content__title{
        font-size: 8rem;
        line-height: 10.6rem;
    }

    .content__paragraph{
        font-size: 2.4rem;
    }
    
}

@media (min-width:1200px){

    .content{
        margin-top: 15rem;
    }
    
    .content__title{
        font-size: 10rem;
        line-height: 13.2rem;
    }
    .content__paragraph{
        font-size: 2.4rem;
    }
    
}