
.topic{
    padding: 4rem 1.5rem;
    
    &__text{
    color: #8ccbea;
    font-size: 1.4rem;
    font-weight: bold;
   }
    &__title{
      margin-top: 1.5rem;
      color: $heading2-color;
      font-size: 2.4rem;
      font-weight: bold;
      margin-bottom: 1.5rem;
      font-family: $heading-font;
   }
    &__paragraph{
      color: #4a4a4a;
      line-height: 1.67;
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
   }
    &__btn{
      width: 7.6rem;
      height: 4.5rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid $primary-brand-color;
      border-radius: 2rem;
    }
}

.btn__text{
    text-decoration: none;
    color: $primary-brand-color;
    font-size: 2rem;
    font-weight:500;
}
.topic__btn:hover{
    border: 3px solid $secondary-brand-color;
}
.btn__text:hover{
    color: $secondary-brand-color;
}

.reasons{
    background-color: #eff9ff;
    display: grid;
    gap: 4.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 3rem 1.5rem 6rem;
}

.reasons__article{
    padding: 0 7rem;
}
.reasons__title{
    font-size: 2.4rem;
    font-weight: bold;
    font-family: $heading-font;
}

.article__title{
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.70;
    font-family: $heading-font;
}

.article__paragraph{
    line-height: 1.67;
    font-size: 1.8rem;
}

.reasons__btn{
    width: 18.4rem;
    height: 4.5rem;
    background-color: $primary-brand-color;
    border-radius: 3rem;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    cursor: pointer;
}

.reasons__btn:hover{
    background-color: $secondary-brand-color;
    color:$secondary-brand-color;
}


.reasons__btn__text{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight:500;
}

@media (min-width:768px){

    .reasons{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 3rem;
        row-gap: 4.5rem;
        padding: 3rem 4rem 6rem;
    }
    .reasons__article{
        padding:0;
    }
    .reasons__title{
        grid-column: span 3;
        text-align: center;
    }
    .reasons__btn{
        grid-column: span 3;
        text-align: center;
        margin-top: 20px;
    }
    .topic{
        padding: 4rem 3.9rem;
    }

}

@media (min-width:1200px){
    .topic{
        margin: 0 auto;
        width: 73rem;
    }

    .topic__btn{
       width: 10.6rem;
    }
}



