
.topic-section{
    padding: 4rem 1.5rem;

}

.text-topic{
    color: #8ccbea;
    font-size: 1.4rem;
    font-weight: bold;
}

.title-topic{
    margin-top: 1.5rem;
    color: black;
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    font-family: 'Roboto Slab', serif;
}

.paragraph-topic{
    color: #4a4a4a;
    line-height: 1.67;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.btn-topic{
    width: 7.6rem;
    height: 4.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #f26002;
    border-radius: 2rem;
}

.btn-text{
    text-decoration: none;
    color: #f26002;
    font-size: 2rem;
    font-weight:500;
}
.btn-topic:hover{
    border: 3px solid #304268;
}
.btn-text:hover{
    color: #304268;
}

.reasons-section{
    background-color: #eff9ff;
    display: grid;
    gap: 4.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 3rem 1.5rem 6rem;
}

.article-reasons{
    padding: 0 7rem;
}
.title-reasons{
    font-size: 2.4rem;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}

.article-title{
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.70;
    font-family: 'Roboto Slab', serif;
}

.paragraph-article{
    line-height: 1.67;
    font-size: 1.8rem;
}

.btn-reasons{
    width: 18.4rem;
    height: 4.5rem;
    background-color: #f26002;
    border-radius: 3rem;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    cursor: pointer;
}

.btn-reasons:hover{
    background-color: #1976b7;
    color:#1976b7;
}


.btn-reasons-text{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight:500;
}



@media (min-width:768px){

    .reasons-section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 3rem;
        row-gap: 4.5rem;
        padding: 3rem 4rem 6rem;
    }
    .article-reasons{
        padding:0;
    }
    .title-reasons{
        grid-column: span 3;
        text-align: center;
    }
    .btn-reasons{
        grid-column: span 3;
        text-align: center;
        margin-top: 20px;
    }
    .topic-section{
        padding: 4rem 3.9rem;
    }

}

@media (min-width:1200px){
.topic-section{
    margin: 0 auto;
    width: 73rem;}
}
