<footer class="footer">
    <div class="footer__btn">
        <a href="#hero"><img src="./images/ico-arrow.svg" alt="Botón para desplazarse hacia arriba"></a>
    </div>
    <div class="footer__info">
       <nav class="info__menu">
          <ul class="menu__nav">
            <li><a href="https://adalab.es/" target="_blank">Articles</a></li>
            <li><a href="https://adalab.es/" target="_blank">Books</a></li>
            <li><a href="https://adalab.es/" target="_blank">Events</a></li>
            <li><a href="https://adalab.es/" target="_blank">Reasons</a></li>
            <li><a href="https://adalab.es/" target="_blank">Tips</a></li>
          </ul>
          <ul class="menu__social">
            <li><a href="https://adalab.es/" target="_blank">Twitter</a></li>
            <li><a href="https://adalab.es/" target="_blank">Instagram</a></li>
            <li><a href="https://adalab.es/" target="_blank">Mastodon.social</a></li>
          </ul>
      </nav>
      <div class="footer__copy">
        <p class="copy__paragraph">&copy; 2023</p>
        <p class="copy__paragraph">we <i class="fa-solid fa-heart" style="color: #ff8800;"></i>components</p>
      </div>
    </div>
</footer>  