<footer class="footer">
    <div class="btn-footer">
        <a href="#"><img src="./images/ico-arrow.svg" alt="Botón para desplazarse hacia arriba"></a>
    </div>
    <div class="footer-info">
        <div class="footer-info">
       <nav class="menu-footer">
          <ul class="nav-menu">
            <li><a href="https://adalab.es/">Articles</a></li>
            <li><a href="https://adalab.es/">Books</a></li>
            <li><a href="https://adalab.es/">Events</a></li>
            <li><a href="https://adalab.es/">Reasons</a></li>
            <li><a href="https://adalab.es/">Tips</a></li>
          </ul>
          <ul class="social-menu">
            <li><a href="https://adalab.es/">Twitter</a></li>
            <li><a href="https://adalab.es/">Instagram</a></li>
            <li><a href="https://adalab.es/">Mastodon.social</a></li>
          </ul>
      </nav>
    </div>
      <div class="footer-copy">
        <p class="paragraph-copy">&copy; 2023</p>
        <p class="paragraph-copy">we <i class="fa-solid fa-heart" style="color: #ff8800;"></i>components</p>
      </div>
    </div>
</footer>  