<header class="hero" id="hero">
    <div class="hero__burger">
        <a href="https://adalab.es/" target="_blank"><img src="./images/ico-menu.svg" alt="Icono hamburguesa"></a>
    </div>
    <section class="hero__content">
        <div class="content">
           <h1 class="content__title">Anonymous Proxy</h1>
           <p class="content__paragraph">In hac habitasse pla Copy</p>
           <div class="content__scroll">
                <a href="#reasons"><img src="./images/ico-scroll-down.svg" alt="Botón para desplazarse hacia abajo"></a>
            </div>
        </div>
    </section>
</header>