<main>
    <section class="topic-section">
        <span class="text-topic">Insomnia Tips</span>
        <h2 class="title-topic">Looking Through A Window</h2>
        <p class="paragraph-topic">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
        <div class="btn-topic">
            <a class="btn-text" href="https://adalab.es/">Go</a>
        </div>
    </section>
    <section class="reasons-section" id="reasons">
        <h2 class="title-reasons">3 Reasons To Purchase</h2>
        <article class="article-reasons">
            <h3 class="article-title">Ut sed metus</h3>
            <p class="paragraph-article">Lorem ipsum dolor sit amet, consecteur.</p>
        </article>
        <article class="article-reasons">
            <h3 class="article-title">Curabitur ac erat</h3>
            <p class="paragraph-article">Mauris mattis urna quis lorem molestie.</p>
        </article>
        <article class="article-reasons">
            <h3 class="article-title">Morbi dictum</h3>
            <p class="paragraph-article">Aliquam in dolor et dolor tincidunt.</p>
        </article>
        <div class="btn-reasons">
            <a class="btn-reasons-text">More reasons</a>
        </div>
    </section>
</main>