@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';


*{
    font-family: 'Roboto', sans-serif;
}

body{
    font-family: 'Roboto', sans-serif;
}

.hero {
    background-image: url(../../public/images/cover.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;
    background-color: #1976b7;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger:hover{

    background-color: rgb(254, 182, 49);
}


.hero-container{
    padding: 15px;
    text-align: center;
}

.hero-content{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title{
    font-family: 'Roboto Slab', serif;;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: white;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.hero-title::first-line{
    word-spacing: 100vw;
}

.hero-paragraph{
    font-size: 16px;
    color: white;
    margin-top: 10px;
}

.hero-scroll{
    width: 44px;
    height: 44px;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    border-radius: 50%;
}

.hero-scroll:hover{
    transition: all 0.3s ease;
    transform: scale(1.1);
}

.topic-section{
    padding: 40px 15px;

}

.text-topic{
    color: #8ccbea;
    font-size: 14px;
    font-weight: bold;
}

.title-topic{
    margin-top: 15px;
    color: black;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: 'Roboto Slab', serif;
}

.paragraph-topic{
    color: #4a4a4a;
    line-height: 1.67;
    font-size: 18px;
    margin-bottom: 15px;
}

.btn-topic{
    width: 76px;
    height: 45px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #f26002;
    border-radius: 20px;
}

.btn-text{
    text-decoration: none;
    color: #f26002;
    font-size: 20px;
    font-weight:500;
}
.btn-topic:hover{
    border: 3px solid #304268;
}
.btn-text:hover{
    color: #304268;
}

.reasons-section{
    background-color: #eff9ff;
    display: grid;
    gap: 45px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 30px 15px 60px;
}

.article-reasons{
    padding: 0 70px;
}
.title-reasons{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}

.article-title{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.70;
    font-family: 'Roboto Slab', serif;
}

.paragraph-article{
    line-height: 1.67;
    font-size: 18px;
}

.btn-reasons{
    width: 184px;
    height: 45px;
    background-color: #f26002;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    cursor: pointer;
}

.btn-reasons:hover{
    background-color: #1976b7;
    color:#1976b7;
}


.btn-reasons-text{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight:500;
}

.footer{
    width: 100%;
    background-color: #304268;
}

.footer-info{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    box-sizing: border-box;
}
.menu-footer{
    margin-top: 60px;
}
.nav-menu{
    margin-bottom: 30px;
    list-style: none;
}
.social-menu{
    list-style: none;
}
.nav-menu a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.88;
}
.social-menu a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.88;
}

.btn-footer{
    background-color:white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    margin: 0 auto;
}

.btn-footer:hover{
    border: 3px solid #f26002;
}
.footer-copy{
    margin-top: 30px;
    margin-bottom: 45px;
    color: white;
    font-size: 14px;
    line-height: 30px;
}

@media (min-width:768px){

    .hero-title{
        font-size: 80px;
        line-height: 106px;
    }

    .hero-paragraph{
        font-size: 24px;
    }
    .hero-content{
        margin-top: 150px;
    }
    .reasons-section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 45px;
        padding: 30px 40px 60px;
    }
    .article-reasons{
        padding:0;
    }
    .title-reasons{
        grid-column: span 3;
        text-align: center;
    }
    .btn-reasons{
        grid-column: span 3;
        text-align: center;
        margin-top: 20px;
    }
    .topic-section{
        padding: 40px 39px;
    }

    .footer-info{
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
        text-align: left;
    }

    .menu-footer{
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin-top: 0;
        
    }
    .footer-copy{
        padding: 0;
        margin-right: 40px;
        text-align: left;
    }

    .social-menu{
        margin-left: 200px;
    }
}

@media (min-width:1200px){

 .hero-title{
        font-size: 100px;
        line-height: 132px;
    }
    .hero-paragraph{
        font-size: 24px;
    }
    .hero-content{
        margin-top: 150px;
    }
    .topic-section{
        margin: 0 auto;
        width: 730px;
    }

}

